In [1]:
import utm
import pyodbc
import pandas as pd
from pprint import pprint

In [2]:
cnxn = pyodbc.connect('DSN=SQLAmlin;UID=MSAmlin;PWD=password')

In [3]:
lon_arch_query = 'select * from [initial].[LondonArchived]'

In [4]:
lon_arch_df = pd.read_sql(lon_arch_query, cnxn)

In [5]:
lon_arch_df.head()

,IncidentID,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,...,Easting_rounded,Northing_rounded,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending
0,1,000003-01012016,2016-01-01,2016,00:04:41,0,Fire,Primary Fire,None,Dwelling,...,546250,178250,London,Plumstead,159.0,Plumstead,None,None,2.0,2.0
1,2,000006-01012017,2017-01-01,2017,0.005520833333333333,0,Fire,Primary Fire,None,Non Residential,...,544650,184550,London,Barking,None,None,None,None,1.0,2.0
2,3,000015-01012016,2016-01-01,2016,00:14:19,0,Fire,Primary Fire,None,Non Residential,...,515050,182950,London,Southall,461.0,Wembley,None,None,1.0,2.0
3,4,000019-01012017,2017-01-01,2017,0.019537037037037037,0,Fire,Primary Fire,None,Dwelling,...,526850,183250,London,Paddington,None,None,None,None,3.0,4.0
4,5,000023-01012017,2017-01-01,2017,0.020729166666666667,0,Fire,Primary Fire,None,Dwelling,...,532450,185150,London,Islington,None,None,None,None,4.0,4.0

In [12]:
lon_arch_df.columns

Index(['IncidentID', 'IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall',
       'HourOfCall', 'IncidentGroup', 'StopCodeDescription',
       'SpecialServiceType', 'PropertyCategory', 'PropertyType',
       'AddressQualifier', 'Postcode_full', 'Postcode_district',
       'IncGeo_BoroughCode', 'IncGeo_BoroughName', 'ProperCase',
       'IncGeo_WardCode', 'IncGeo_WardName', 'IncGeo_WardNameNew', 'Easting_m',
       'Northing_m', 'Easting_rounded', 'Northing_rounded', 'FRS',
       'IncidentStationGround', 'FirstPumpArriving_AttendanceTime',
       'FirstPumpArriving_DeployedFromStation',
       'SecondPumpArriving_AttendanceTime',
       'SecondPumpArriving_DeployedFromStation',
       'NumStationsWithPumpsAttending', 'NumPumpsAttending'],
      dtype='object')

In [13]:
lon_arch_df[['IncidentID', 'Easting_m', 'Northing_m', 'Easting_rounded', 'Northing_rounded']]

       IncidentID Easting_m Northing_m Easting_rounded Northing_rounded
0               1      None       None          546250           178250
1               2  544654.0   184596.0          544650           184550
2               3      None       None          515050           182950
3               4      None       None          526850           183250
4               5      None       None          532450           185150
5               6      None       None          512850           180550
6               7      None       None          537550           198250
7               8      None       None          547850           187450
8               9  519802.0   180251.0          519850           180250
9              10      None       None          505850           181450
10             11      None       None          529150           185450
11             12      None       None          528250           180450
12             13  546402.0   182738.0          546450           182750
13             14  551815.0   188384.0          551850           188350
14             15      None       None          508750           173350
15             16      None       None          517550           187850
16             17      None       None          532050           158650
17             18      None       None          546250           179950
18             19  533789.0   189935.0          533750           189950
19             20      None       None          526850           184250
20             21      None       None          524450           181350
21             22      None       None          537050           173050
22             23  529083.0   181237.0          529050           181250
23             24      None       None          536150           181050
24             25      None       None          544650           179250
25             26      None       None          535950           171750
26             27      None       None          551650           177550
27             28      None       None          534950           184350
28             29  533918.0   184768.0          533950           184750
29             30      None       None          507150           179550
...           ...       ...        ...             ...              ...
87972       87973      None       None          532850           168150
87973       87974      None       None          538350           183450
87974       87975      None       None          537750           182550
87975       87976      None       None          513950           186450
87976       87977  543477.0   164974.0          543450           164950
87977       87978      None       None          539850           190650
87978       87979      None       None          535050           180150
87979       87980      None       None          532750           184950
87980       87981  537841.0   179228.0          537850           179250
87981       87982      None       None          535550           167750
87982       87983      None       None          536950           176350
87983       87984      None       None          537950           179850
87984       87985      None       None          525550           164550
87985       87986      None       None          544150           184450
87986       87987      None       None          515450           186650
87987       87988      None       None          510350           180250
87988       87989      None       None          534150           181150
87989       87990      None       None          548850           178650
87990       87991  531496.0   167397.0          531450           167350
87991       87992  540250.0   185250.0          540250           185250
87992       87993      None       None          525750           178350
87993       87994  526094.0   179620.0          526050           179650
87994       87995      None       None          526850           170750
87995       87996      None       None          529050           183250
87996       87997      None       None          524550           171550
87997       87998      None       None          527550           193950
87998       87999      None       None          543550           178450
87999       88000  525517.0   164015.0          525550           164050
88000       88001      None       None          533250           185550
88001       88002      None       None          531450           193650

[88002 rows x 5 columns]

In [19]:
utm.to_latlon(546250, 178250, 30, northern=True)

(1.6126366618990058, -2.5842029929879433)

In [15]:
utm.from_latlon(51.484299, 0.10489074)

(298992.63428942906, 5707658.0236698715, 31, 'U')

In [22]:
utm.to_latlon(340000, 5710000, 30, 'U')

(51.51842958278862, -5.30612298638413)

In [23]:
utm.__file__

'C:\\Users\\Student\\Anaconda3\\lib\\site-packages\\utm\\__init__.py'